<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-dark bg-light text-light border-bottom-0">
        <div class="index-link">
            <%= link_to "Wikinomous", articles_path %>
        </div>
        <div class="new-article-link">
            <%= link_to "New Article", new_article_path %>
        </div>
    </div>
    <%= yield %>
  </body>
</html>
